h1 {
	text-align: center;
	width: 100%;
	background: url("../images/DASS-mini.png") top left no-repeat;
	height: 70px;
	text-indent: 7em 50px;
	padding-top: 30px;
}
h1 small {
	display: block;
	text-indent: 7em;
	font-size: 12px;
}
header{
display: block;
position:  relative;
}
#menu {
	width: 250px;
}
#menu li {
}
#menu ul{

}